<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.pcap.core.category"
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="pcap.dsl.core.trace.type"
            isDirectory="false"
            name="Pcap DSL Trace"
            trace_type="pcap.dsl.core.trace.PcapDslTrace">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.linuxtools.tmf.ui.TmfTracingPreferences"
            class="pcap.dsl.core.ui.preferences.DslPreferencePage"
            id="pcap.dsl.core.dslPreferencePage"
            name="Pcap DSL Preference Page">
      </page>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="pcap.dsl.core.analysis.DslStreamListAnalysis"
            automatic="true"
            id="pcap.dsl.core.analysis.stream"
            name="DSL Stream List">
         <tracetype
               applies="true"
               class="pcap.dsl.core.trace.PcapDslTrace">
         </tracetype>
      </module>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="pcap.dsl.ui.view.stream.list">
         <analysisModuleClass
               class="pcap.dsl.core.analysis.DslStreamListAnalysis">
         </analysisModuleClass>
      </output>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.tmf.pcap.ui.view.category.network"
            class="pcap.dsl.ui.view.DslStreamListView"
            icon="platform:/plugin/org.eclipse.tracecompass.tmf.pcap.ui/icons/stream_list_view.gif"
            id="pcap.dsl.ui.view.stream.list"
            name="DSL Stream List"
            restorable="true">
      </view>
   </extension>

</plugin>
